* {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1.1);
}

#content-container,
#img-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content-container {
    width: 831.61px;
}

label {
    padding: 0 8px;
    border: solid 1px #bbb;
}

#upload {
    display: block;
    border: solid 1px #bbb;
}

#canvas-container {
    position: relative;
    border: solid 1px #bbb;
    padding: 10px;
}

#img-canvas-container {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 400px;
}

#img-canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.75));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.75));
}

#chart-canvas {
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.75));
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.75));
}

#palette-container {
    padding-top: 20px;
}

.palette-frame {
    display: inline-block;
    width: 100%;
}

.palette-frame p {
    margin-left: 5px;
}

#info-text {
    position: absolute;
    right: 2px;
    top: -40px;
}

.palette {
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}

#loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: none;
    pointer-events: none;
}

#loading p {
    font-size: 35px;
    animation: loading 1.4s cubic-bezier(.4, 0, .4, 1) infinite;
}

@keyframes loading {
    10% {
        border-color: white;
    }

    25% {
        color: white;
    }

    75% {
        border-color: black;
    }

    80% {
        color: black;
    }
}

@media (orientation: portrait) {
    #content-container {
        width: calc(831.61px / 2);
    }

    #info-text {
        position: static;
        margin: 0;
        margin-bottom: 5px;
        width: 100%;
        text-align: center;
        border: solid 1px #bbb;
    }
}