@font-face {
  font-family: "Solstice Of Suffering";
  src: url("../fonts/Solstice_Of_Suffering.ttf") format("truetype");
}
.menu-button, .wd-logo{
  cursor: url("../cursors/666_link.cur"), auto;
}
*, .active{
  cursor: url("../cursors/666.cur"), auto;
}
.active{
  font-family: "Solstice Of Suffering";
  padding-top: 6px;
  padding-bottom: 0;
}
.wd-link:focus{
  outline: 0;
}
body{
  background: url("../images/666.gif");
}
.header, .content{
  background: #470000;
}
.skip{
  background: #470000;
  color: #fff;
  padding: 5px 15px;
}
.platform-container{
  top: 0;
  transform: none;
  height: 100%;
}
.hell-gate{
  position: absolute;
  bottom: 0;
  opacity: 0;
}
.sixsixsix{
  position: absolute;
  width: 52%;
  filter: grayscale(100%) invert(100%) brightness(120%);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
.sixsixsix:focus, .hell-gate:focus + .sixsixsix{
  background: #fff;
  outline: 2px solid #000;
}
.embed-container{
  position: relative;
  -webkit-filter: contrast(4) grayscale(1);
  filter: contrast(4) grayscale(1);
}
#player{
  pointer-events: none;
}
@media only screen and (orientation: portrait), only screen and (max-width: 1600px){
  .platform-container{
    padding: 20px;
    height: auto;
    width: 100%;
  }
  .sixsixsix{
    position: static;
    top: auto;
    transform: none;
    width: 60%;
    height: auto;
  }
  .menu-button{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  .menu-button:hover, .active{
    background: #470000;
    text-shadow: none;
  }
}
@media only screen and (max-width: 600px){
  .sixsixsix{
    width: 100%;
  }
}