body{
  background: url("../images/666.gif");
}
.header, .content{
  background: #470000;
}
.skip{
  background: #470000;
  color: #fff;
  padding: 5px 15px;
}
.sixsixsix{
  width: 52%;
  filter: grayscale(100%) invert(100%) brightness(120%);
}
.embed-container{
  position: relative;
  -webkit-filter: contrast(4) grayscale(1);
  filter: contrast(4) grayscale(1);
}
.block{
  position: absolute;
  height: 100%;
  width: 100%;
}
@media only screen and (orientation: portrait), only screen and (max-width: 1720px){
  .sixsixsix{
    margin-top: 5%;
    width: 60%;
  }
  .menu-button{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  .menu-button:hover, .active{
    background: #470000;
    text-shadow: none;
  }
}
@media only screen and (max-width: 800px){
  .sixsixsix{
    width: 75%;
  }
}