body{
  background: url("../images/666.gif");
}
.header, .content{
  background: #470000;
}
.sixsixsix{
  width: 52%;
  filter: grayscale(100%) invert(100%) brightness(120%);
}
.embed-container{
  position: relative;
}
.block{
  position: absolute;
  height: 100%;
  width: 100%;
}
@media only screen and (orientation: portrait), only screen and (max-width: 1720px){
  .sixsixsix{
    margin-top: 5%;
    width: 60%;
  }
  .menu-button:hover, .active{
    background: #470000;
  }
}
@media only screen and (max-width: 800px){
  .sixsixsix{
    width: 75%;
  }
}