#content-container{
  padding: 15px 0 100px 0;
}
.content{
  width: 1344px;
  margin-top: 0px;
  margin-bottom: 80px;
}
.content:focus{
  -webkit-box-shadow: -20px 0px 0px 5px black, 20px 0px 0px 5px black;
  -moz-box-shadow: -20px 0px 0px 5px black, 20px 0px 0px 5px black;
  box-shadow: -20px 0px 0px 5px black, 20px 0px 0px 5px black;
}
.platform-container{
  width: 75%;
  right: 0;
  padding: 0 250px;
  top: calc(50% - 25px);
  transform: translateY(-50%);
}
.album-container{
  width: 50%;
  display: inline-block;
}
.song-img{
  width: 50%;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
}
.song-title-disk{
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db9b0a59-1832-436d-be35-c4da781cf1c8/dds3hmn-9f5ef694-f5ce-43c0-9e76-7e1adec5f640.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiOWIwYTU5LTE4MzItNDM2ZC1iZTM1LWM0ZGE3ODFjZjFjOFwvZGRzM2htbi05ZjVlZjY5NC1mNWNlLTQzYzAtOWU3Ni03ZTFhZGVjNWY2NDAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.kCMW2OAJHcDT-qTU3aEKb4BqlTcj0_SKDaj1XqO3ks0");
  background-position: 538%;
  background-size: 110%;
  width: 49.45%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.song-title{
  margin-top: 70%;
  margin-left: 12%;
  margin-bottom: 22%;
  font-size: 130%;
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
}
.song-menu-container{
  width: 1344px;
  margin: auto;
  margin-top: 96px;
}
.song-menu{
  display: inline-block;
  border-bottom: 2.5px solid #000;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  white-space: nowrap;
}
.song-button{
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size:18px;
  padding: 0 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.song-button.active{
  background: #000;
  color: #fff;
}
.song-sort-button{
  background: #fff;
  position: absolute;
  margin-left: 6px;
  padding: 1px 3.5px;
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.song-sort-button:hover, .song-menu:hover{
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#track-container{
  position: relative;
  top: -80px;
  margin-top: 0;
  padding: 0;
  background: #222;
  padding: 25px;
}
.track{
  margin: auto;
}
.track th, .track td{
  color: #fff;
  padding: 10px 40px;
  margin: 0;
  text-align: left;
}
.track-number-head{
  min-width: 38px;
}
.track-length-head{
  min-width: 74px;
}
.track-name{
  position: relative;
}
.track-name:hover, .track-name:focus{
  background: #333;
  outline: none;
}
.track-tooltip{
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0;
  background: #fff;
  color: #000;
  padding: 8px 40px;
  box-shadow: 3px 3px 3px #333;
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.track-name:hover > .track-tooltip{
  opacity: 1;
  visibility: visible;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition-delay: 0.5s;
}
#track-skip-content{
  top: calc(100% + 20px);
  bottom: auto;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
  background: #eee;
}
#player{
  position: absolute;
  bottom: -1000px;
  visibility: hidden;
}
#music-player{
  position: fixed;
  bottom: -200px;
  padding: 20px 4%;
  max-width: 90vw;
  left: 0;
  right: 0;
  width: 600px;
  background: #222;
  margin: auto;
  opacity: 0;
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.time-text{
  display: inline-block;
  color: #fff;
}
#duration-text{
  float: right;
}
#time-slider{
  -webkit-appearance: none;
  display: block;
  height: 15px;
  border: solid 5px #222;
  width: 100%;
  background: #666;
  overflow: hidden;
}
#time-slider:focus{
  outline: none;
}
#time-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 100%;
  -moz-box-shadow: -666px 0px 0px 666px #eee;
  -moz-box-shadow: -666px 0px 0px 666px #eee;
  box-shadow: -666px 0px 0px 666px #eee;
}
#time-slider::-moz-range-thumb{
  width: 0px;
  height: 100%;
  -moz-box-shadow: -666px 0px 0px 666px #eee;
  -moz-box-shadow: -666px 0px 0px 666px #eee;
  box-shadow: -666px 0px 0px 666px #eee;
}
#time-slider:hover{
  background: #777;
}
#time-slider:hover::-webkit-slider-thumb{
  -moz-box-shadow: -666px 0px 0px 666px #fff;
  -moz-box-shadow: -666px 0px 0px 666px #fff;
  box-shadow: -666px 0px 0px 666px #fff;
}
#time-slider:hover::-moz-range-thumb{
  -moz-box-shadow: -666px 0px 0px 666px #fff;
  -moz-box-shadow: -666px 0px 0px 666px #fff;
  box-shadow: -666px 0px 0px 666px #fff;
}
#player-button-container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-bottom: 10px;
  min-width: 250px;
  text-align: center;
}
i{
  transition-duration: 0s;
}
.player-button{
  border-radius: 100%;
  background: none;
  color: #eee;
  border: solid 2px #eee;
  padding: 6px;
}
.player-button-content:hover > i{
  filter: brightness(150%);
}
.player-button-content{
  height: 100%;
  width: 100%;
  display: block;
}
#prev-button, #next-button, #shuffle-button, #repeat-button{
  border: none;
}
.player-button:focus, .player-button-content{
  outline: none;
}
.player-button:focus > .player-button-content{
  outline: solid 2px #fff;
}
#play-button.player-button:focus{
  padding: 0;
}
#play-button.player-button:focus > .player-button-content{
  outline: none;
  border: solid 2px #fff;
  border-radius: 100%;
  padding: 5px;
}
.player-button:active{
  color: #666;
  border-color: #666;
  padding: 5px;
}
#player-song-name{
  position: relative;
  color: #fff;
  text-align: center;
  margin-top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}
#close-player-button{
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
button{
  transition-duration: 0.1s;
}
button:focus{
  outline-color: #fff;
}
@keyframes buffering{
  10%{
    border-color: #222;
  }
  25%{
    color: #222;
  }
  75%{
    border-color: #eee;
  }
  80%{
    color: #eee;
  }
}
@media only screen and (orientation: portrait), only screen and (max-width: 1600px){
  .album-container{
    width: 60%;
    display: block;
    margin-left: 35%;
  }
  .song-menu-container{
    margin-top: 50px;
  }
  .content{
    width: 900px;
    padding-top: 50px;
  }
  .song-title{
    font-size: 115%;
    white-space: normal;
  }
  .platform-container{
    width: 100%;
    transform: none;
    padding: 0 20px 4% 20px;
  }
  .song-menu-container{
    width: 900px;
  }
  #track-container{
    padding: 25px;
  }
  .skip-content{
    top: 20px;
    left: 20px;
    bottom: auto;
    right: auto;
    pointer-events: none;
  }
  .skip-content:focus{
    left: 20px;
  }
}
@media only screen and (max-width: 1024px){
  .content, .song-menu-container{
    width: 720px;
  }
  .album-container{
    width: 75%;
    margin-left: 31.25%;
  }
  .song-title{
    max-width: 50%;
  }
  #track-container{
    padding: 25px;
  }
  .skip{
    width: 180px;
    top: 335px;
    transform: translateX(260px);
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media only screen and (max-width: 800px){
  .album-container{
    width: 80%;
    margin-left: 30%;
  }
  .song-title{
    font-size: 2.5vw;
  }
  .content, .song-menu-container{
    width: 90vw;
  }
  #track-container{
    padding: 18px 5px;
  }
  .track th, .track td{
    padding: 10px 10px;
  }
  .track-tooltip{
    padding: 8px 10px;
  }
  .skip{
    top: 357px;
    transform: none;
    left: auto;
    right: 5vw;
  }
  .skip:focus{
    left: auto;
  }
  .skip-content{
    top: calc(100% + 20px);
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    background: #eee;
  }
}
@media only screen and (max-width: 500px){
  .skip{
    top: 340px;
  }
}
@media only screen and (max-width: 480px){
  .skip{
    top: 260px;
  }
}
@media only screen and (max-width: 360px){
  .skip{
    top: 230px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .skip:focus{
    left: 20px;
  }
}