body{
  margin: 0;
}
.header{
  background: #000;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.wd-logo{
  height: 75px;
}
.content{
  padding: 100px 70px;
}
.videos{
  width: 560px;
  height: 315px;
}
@media only screen and (max-width: 700px) {
  .content{
    padding: 100px 0px;
  }
  .videos{
    width="95%";
  }
}