*{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
:focus{
  position: relative;
  outline: 2px solid #000;
  z-index: 1;
}
.menu-button:focus{
  outline: 2px solid #fff;
}
html, body, iframe {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #666;
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
body{
  margin: 0;
  background: #eeeeee;
}
h3{
  margin-top: 3.5%;
  margin-bottom: 0.5%;
}
.header{
  background: #000;
  width: 100%;
  padding: 10px 25px;
}
.wd-logo{
  width: 200px;
}
.skip{
  position: absolute;
  top: 6.5vw;
  left: -200px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding: 5px 10px;
  opacity: 0;
  pointer-events: none;
  background: #eee;
}
.skip:focus{
  left: 20px;
  outline: 2px solid #000;
  opacity: 1;
}
.skip-content{
  top: auto;
  left: auto;
  bottom: 20px;
  right: 20px;
  background: #fff;
}
.skip-content:focus{
  left: auto;
}
.menu-container{
  position: absolute;
  top: 50px;
  right: 25px;
}
.menu-button{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 18px;
  cursor: pointer;
  display: inline-block;
}
.menu-button:hover, .active{
  background: #fff;
  color: #000;
}
.active{
  cursor: default;
}
.content{
  position: relative;
  margin: 7% 8%;
  background: #fff;
  -webkit-box-shadow:0 8px 6px -6px black;
  -moz-box-shadow:0 8px 6px -6px black;
  box-shadow:0 8px 6px -6px black;
}
.embed-container{
  position: relative;
  padding-bottom: 28.125%;
  height: 0;
  overflow: hidden;
  width: 50%;
  display: inline-block;
}
.embed-container iframe, .embed-container object, .embed-container embed{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
#trailer{
  filter: grayscale(1);
}
.platform-container{
  position: absolute;
  right: 8%;
  width: 42%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 18px;
  padding: 2%;
}
.platform-icon{
  display: inline-block;
  background: url("../images/platform_icon.png");
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}
.i-deezer{
  background-position: -27px 0;
}
.i-google-play{
  background-position: -54px 0;
}
.i-spotify{
  background-position: -81px 0;
}
.i-youtube{
  background-position: 0 -27px;
}
.i-youtube-music{
  background-position: -27px -27px;
}
.i-amazon{
  background-position: -54px -27px;
}
.i-bandlab{
  background-position: -81px -27px;
}
.i-soundcloud{
  background-position: 0 -54px;
}
.i-rocksmith{
  background-position: -27px -54px;
}
.i-wd-music{
  background-position: -54px -54px;
}
.i-wd-rhythm{
  background-position: -81px -54px;
}
.i-wd-gaming{
  background-position: 0 -81px;
}
.i-twitter{
  background-position: -27px -81px;
}
.i-instagram{
  background-position: -54px -81px;
}
.i-facebook{
  background-position: -81px -81px;
}
.platform-url{
  text-decoration:none;
  color: #000;
  padding: 6px;
  background: #fff;
  cursor: pointer;
  display:inline-block;
}
.platform-url:hover{
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
@media only screen and (orientation: portrait), only screen and (max-width: 1720px){
  .header{
    padding: 20px 20%;
    box-sizing: border-box;
  }
  .wd-logo{
    width: 50%;
    margin-left: 25%;
  }
  .menu-container{
    position: static;
    margin-top: 20px;
  }
  .menu-button{
    color: #000;
  }
  .menu-button:hover, .active{
    background: #000;
    color: #fff;
  }
  .content{
    margin: 10% 200px;
  }
  .embed-container{
    padding-bottom: 56.25%;
    width: 100%;
  }
  .platform-container{
    position: static;
    width: 100%;
    padding: 0 0 4% 0;
  }
  .skip{
    top: 18vw;
  }
  .skip-content{
    top: auto;
  }
  .menu-button:focus{
    outline: 2px solid #000;
  }
}
@media only screen and (max-width: 1024px){
  .content{
    margin: 10% 80px;
  }
  .wd-logo{
    width: 70%;
    margin-left: 15%;
  }
  .skip{
    top: 25vw;
  }
  .skip-content{
    top: auto;
  }
}
@media only screen and (max-width: 800px){
  .wd-logo{
    width: 100%;
    margin-left: 0;
  }
  .content{
    margin: 10% 20px;
  }
  .skip{
    top: 42vw;
  }
  .skip-content{
    top: calc(100% + 2vw);
    left: 30vw;
    bottom: auto;
    right: 30vw;
    pointer-events: none;
    text-align: center;
    white-space: nowrap;
    background: #eee;
  }
  .skip-content:focus{
    left: 30vw;
  }
}
@media only screen and (max-width: 640px){
  .skip{
    top: 46vw;
  }
  .skip-content{
    top: calc(100% + 2vw);
  }
}