.menu-button, .wd-logo{
  cursor: url("../cursors/👁_link.cur"), auto;
}
*, .active{
  cursor: url("../cursors/👁.cur"), auto;
}
body{
  position: relative;
  background: url("../images/temple.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}
.my-eye{
  width: 50vh;
  max-width: 100%;
}
.glyphs{
  box-shadow: var(--shadowX) var(--shadowY) 15px 6px rgba(77,43,43,1), calc(var(--shadowX) * -1 / 2) calc(var(--shadowY) * -1 / 2) 10px 0px rgba(255,255,255,.5);
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1.1);
}
.glyphs::after{
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 400vh;
  height: 400vh;
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 85%);
  mix-blend-mode: hard-light;
  opacity: .95;
  outline: 100vw solid #000;
  transition: all 0.2s cubic-bezier(.25,.8,.25,1.1);
}