ReWriteEngine On

# rewrite .html

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]

# home to index

RewriteRule ^home$ https://wardimension.github.io/index.html [NC,L]

# rewrite blog

RewriteRule ^blog/([0-9a-zA-Z_-]+)$/([0-9a-zA-Z_-]+)$ https://wardimension.github.io/blog.html?b=$1&p=$2 [NC,L]