ReWriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

# remove .html

RewriteRule ^(.*)$ $1.html [NC,L]

# home to index

RewriteRule ^/home$ /index.html [NC,L]