body{
    overflow: hidden;
}
.wrapper{
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
    vertical-align: baseline;
}
.wrapper::before{
    content: attr(label);
    position: absolute;
    left: -135px;
    width: 115px;
    padding: 4.5px 0;
    text-align: end;
    font-size: 11.9;
}
input{
    vertical-align: baseline;
}
input.tags{
    width: 336px;
}
button{
    opacity: 0.8;
}
button.remove-tag{
    margin-left: 6px;
}
.more, .less{
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    background: #ddd;
    padding: 5px;
}
.more:hover, .less:hover{
    background: #d8d8d8;
}
.title-toggle:checked ~ .less{
    width: 420px;
    padding-bottom: 10px;
}
.wrapper[label="AniListTitle"], .wrapper[label="MyAnimeListTitle"], .title-toggle:checked ~ .more, label.less{
    display: none;
}
.title-toggle:checked ~ .less > .wrapper[label="AniListTitle"], .title-toggle:checked ~ .less > .wrapper[label="MyAnimeListTitle"], .title-toggle:checked ~ .less{
    display: block;
}
.search-container{
    height: 120px;
    padding: 25px;
}
.container{
    top: 120px;
    padding: 0;
    height: calc(100% - 120px - 460px);
    overflow-y: overlay;
}
.list-wrapper{
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 5px 0 20px;
    background: #ebebeb;
    box-shadow: 0px 0px 5px 0px #aaa;
}
button.add-list, button.remove-list{
    margin-top: 20px;
    box-shadow: 0px 0px 2px 0px #aaa;
}
button.add-list{
    margin-bottom: 16px;
}
.result-container{
    bottom: 0;
    height: 460px;
}
textarea{
    margin-top: 10px;
    width: 800px;
    height: 350px;
    resize: none;
    cursor: pointer;
}
.copied{
    position: relative;
    top: -30px;
    opacity: 0;
    transition-duration: 2.2s;
}
textarea:active + .copied{
    top: -40px;
    opacity: 0.8;
    transition-duration: 0.1s;
}
textarea:focus{
    outline-width: 1px;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
}