@import url(https://fonts.googleapis.com/css?family=Roboto:700);

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(270deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20px, rgba(0, 0, 0, 1) 100%);
}

body {
    text-shadow: 0 0 1px #000, 0 0 2px #000;
    background: {background_color};
    font-family: 'Roboto';
    font-weight: 700;
    font-size: {font_size};
    line-height: 1.5em;
    color: {text_color};
    -webkit-mask-image: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15px, rgba(0, 0, 0, 1) 100%);
}

#log>div {
    animation: fadeInRight .3s cubic-bezier(.25,.8,.25,1.1) forwards, fadeOut 0.5s cubic-bezier(.25,.8,.25,1.1) {message_hide_delay} forwards;
    -webkit-animation: fadeInRight .3s cubic-bezier(.25,.8,.25,1.1) forwards, fadeOut 0.5s cubic-bezier(.25,.8,.25,1.1) {message_hide_delay} forwards;
}

.colon {
    display: none;
}

#log {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    table-layout: fixed;
}

#log>div {
    position: relative;
    right: 40px;
    float: right;
    clear: right;
    display: block;
    width: fit-content;
    max-width: calc(100% - 80px);
}

#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message,#log .meta {
    vertical-align: top;
    display: block;
}

#log .meta {
    width: fit-content;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#log .message {
    word-wrap: break-word;
    width: 100%;
}

.badge {
    display: inline-block;
    margin-right: 0.2em;
    position: relative;
    height: 1em;
    vertical-align: middle;
    top: -0.1em;
}

.name {
    margin-left: 0.2em;
}

/* CUSTOM */
#log .meta{
    background: #ff8b94;
    color: #eee;
}
.message, .meta{
    display: block;
    border-radius: 20px;
}
.meta{
    position: relative;
    /*top: 25px;*/
    top: calc((1.5em / 2) + 5px);
    left: 30px;
    padding: 10px 20px;
    z-index: 10;
}
.message{
    background: #ffd3b6;
    color: #444;
    padding: 15px 40px;
    padding-top: 35px;
    text-align: justify;
    animation: fadeInRight .4s cubic-bezier(.25,.8,.25,1.1) forwards;
    -webkit-animation: fadeInRight .4s cubic-bezier(.25,.8,.25,1.1) forwards;
}