.miner-table{
    margin: auto;
    margin-bottom: 50px;
}
.miner-table, .miner-table td{
    border: 1px solid;
}
.miner-table td{
    padding: 8px 16px;
    text-align: center;
    
}
div{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.option{
    position: static;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
span{
    opacity: 0.35;
    font-size: 12px;
    padding: 0 8px;
    margin: auto;
}
img{
    display: block;
    width: 70px;
    height: 60px;
    object-fit: none;
    margin: auto;
}
.single{
    width: 126px;
}
.rarity{
    position: absolute;
    top: 0;
    width: 22px;
    height: 16px;
}