*{
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #666;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
body{
    background: #ddd;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    font-size: 0;
    color: #fff;
    transform: translate(-50%, -50%);
}
.container *{
    font-size: initial;
}
.main-display{
    display: inline-block;
    height: 468px;
    width: 724px;
    background: #000;
}
.move-history-display{
    display: inline-block;
    height: 468px;
    width: 300px;
    background: #000;
    border-left: solid 1px #666;
}
.player-display{
    display: inline-block;
    height: 300px;
    width: 1024px;
    background: #000;
    border-top: solid 1px #666;
}