*{
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    padding:0;
    margin:0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body{
    overflow: hidden;
    background: #eeeeee;
}
.keys-container{
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    background: #222;
    border: solid 3px #222;
    border-radius: 5px;
}
.component-container{
    position: absolute;
    left: -3px;
    top: -100px;
    padding: 35px 0;
    width: 100%;
    background: #222;
    color: #ccc;
    border: solid 3px #222;
    border-radius: 5px;
    box-sizing: initial;
}
.component-container > div{
    width: max-content;
    margin: auto;
}
.component-container > div div{
    position: relative;
    margin: 5px;
    padding: 2px 10px;
    display: inline-block;
    background: #111;
}
.material-icons{
    position: absolute;
    left: 0;
    right: 0;
    width: max-content;
    margin: auto;
}
.up{
    top: -20px;
}
.down{
    bottom: -20px;
}
.material-icons:hover{
    color: #fff;
}
.component-container .range-container{
    display: none;
}
.component-container span{
    display: inline-block;
    text-align: center;
}
.play-mode{
    width: 87px;
}
.key-signature{
    width: 20px;
}
.right-range{
    width: 70px;
}
.black-container{
    position: relative;
    background: purple;
    z-index: 1;
}
.key.white{
    position: relative;
    width: 25px;
    height: 120px;
    background: #fff;
    border: solid 2px #000;
    border-radius: 5px;
}
.key.black{
    position: absolute;
    left: -8px;
    width: 16px;
    height: 70px;
    background: #000;
    border: solid 2px #000;
    border-radius: 3px;
}
.key.white:hover{
    background: #babac9;
}
.key.black:hover{
    background: #565647;
}
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #eee;
    opacity: 0.6;
}
.loading p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    font-size: 35px;
    font-weight: bold;
    animation: loading 1.4s cubic-bezier(.4,0,.4,1) infinite;
}
@keyframes loading{
    10%{
        border-color: #222;
    }
    25%{
        color: #222;
    }
    75%{
        border-color: #eee;
    }
    80%{
        color: #eee;
    }
}